<h2>Iniciar sesión</h2>

<form action="/api/user/login" method="POST">
    <input type="email" name="email" placeholder="Correo electronico" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
</form>